@import './variables.scss';


.App {
  text-align: center;
}

.Header-Logo {
  height: 40vmin;
  pointer-events: none;
}

.Header-Text {
  font-size: 1em;
}

.Header-Text.Header-Text_small {
  font-size: .5em;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-Logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.Header {
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-Link {
  color: $secondary-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
